@keyframes demo {
	0% {background-color:red; left:50%; top: 10%;}
	17% {background-color:orange; left: 75%; top:35%}
	33% {background-color:yellow; left: 75%; top:60%}
	50% {background-color:green; left: 50%; top:85%}
	66% {background-color:blue; left: 25%; top:60%}
	83% {background-color:rgb(75, 0, 130); left: 25%; top:35%}
	100% {background-color:purple; left: 50%; top:10%}
}

div {
	width: 100px;
	height: 100px;
	position: relative;
	animation-name: demo;
	animation-duration: 6s;
	animation-iteration-count: infinite;
}

body {
	height: 500px;
}